.row {
  display: flex;
}

.column {
  flex: 50%;
}

div.column.past-xp {
  color: #999999;
}

.skills-and-tech h3 {
  padding-top: 25px;
}

.open-source h4 {
  padding-top: 15px;
}

.edu h2,
.edu h4 {
  padding-top: 15px;
}

.exp h4 {
  padding-top: 25px;
}
